<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Filtros</title>
    <link rel="shortcut icon" href="../assets/favicon.png"/>
</head>

<body>
<div id="nav-placeholder"></div>
<main>
    <div style="min-height: 400px;">
        <div>
            <div>
                <div style="width:300px; height: 400px;">
                    <div>
                        <h5>Imagem Original</h5>
                        <div class="card-img-top" id="original-img"></div>
                        <div style="width: 256px; height: 50px;" class="text-center">
                            <select aria-label="Selecionar imagem" id="img-selector">
                                <option selected value="0">Lena</option>
                                <option value="1">Lena (Ruído)</option>
                                <option value="2">Lena (Granulado)</option>
                                <option value="3">Airplane</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <div style="width:300px; height: 400px;">
                    <div>
                        <h5>Filtros</h5>
                        <div style="width: 250px;height: 135px;">
                            <select size="5" aria-label="Selecionar filtro" id="input-filter">
                                <option selected value="0">Original</option>
                                <option value="1">Personalizado</option>
                                <option value="2">Detecção de Bordas</option>
                                <option value="3">Detecção de Bordas 2</option>
                                <option value="4">Sharpen</option>
                                <option value="18">Sharpen 2</option>
                                <option value="15">Sharpen 3</option>
                                <option value="17">Laplace</option>
                                <option value="9">Media</option>
                                <option value="23">Mediana</option>
                                <option value="5">Sobel X</option>
                                <option value="6">Sobel Y</option>
                                <option value="21">Sobel Magnitude</option>
                                <option value="7">Prewitt X</option>
                                <option value="8">Prewitt Y</option>
                                <option value="22">Prewitt Magnitude</option>
                                <option value="10">Gaussian Blur</option>
                                <option value="11">Roberts X</option>
                                <option value="12">Roberts Y</option>
                                <option value="19">Roberts Magnitude</option>
                                <option value="13">Roberts X (Cruzado)</option>
                                <option value="14">Roberts Y (Cruzado)</option>
                                <option value="20">Roberts Magnitude (Cruzado)</option>
                            </select>
                        </div>
                        <div style="margin: 10px 0 18px">
                            <form id="input-matrix" class="text-center" role="form">
                                <input type="number" name="array[]" value="0" min="-10" max="10" step="1"
                                       style="width: 65px; text-align:center">
                                <input type="number" name="array[]" value="0" min="-10" max="10" step="1"
                                       style="width: 65px; text-align:center">
                                <input type="number" name="array[]" value="0" min="-10" max="10" step="1"
                                       style="width: 65px; text-align:center">
                                <br>
                                <input type="number" name="array[]" value="0" min="-10" max="10" step="1"
                                       style="width: 65px; text-align:center">
                                <input type="number" name="array[]" value="0" min="-10" max="10" step="1"
                                       style="width: 65px; text-align:center">
                                <input type="number" name="array[]" value="0" min="-10" max="10" step="1"
                                       style="width: 65px; text-align:center">
                                <br>
                                <input type="number" name="array[]" value="0" min="-10" max="10" step="1"
                                       style="width: 65px; text-align:center">
                                <input type="number" name="array[]" value="0" min="-10" max="10" step="1"
                                       style="width: 65px; text-align:center">
                                <input type="number" name="array[]" value="0" min="-10" max="10" step="1"
                                       style="width: 65px; text-align:center">
                                <br> x <br>
                                <input type="number" id="scalar" value="1" min="-10" max="10" step=".1"
                                       style="width: 65px; text-align:center">
                            </form>
                        </div>
                        <button type="button" id="apply-filter-btn" style="width: 250px;">
                            Aplicar
                        </button>
                    </div>
                </div>
            </div>
            <div>
                <div style="width:300px; height: 400px;">
                    <div>
                        <h5>Imagem Processada</h5>
                        <div id="processed-img"></div>
                        <div style="margin: 10px 0 10px">
                            <input type="checkbox" id="normalizeSwitch">
                            <label for="normalizeSwitch">Normalizar [0-255]</label>
                        </div>
                        <div role="group">
                            <button type="button" id="apply-again-btn">
                                Reusar
                            </button>
                            <button type="button" id="download-btn">
                                Baixar
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<script>
    fetch('navbar.html')
        .then(function (response) {
            return response.text();
        })
        .then(function (body) {
            document.getElementById('nav-placeholder').innerHTML = body;
            document.getElementById('filter-li').classList.add('active');
        });
</script>
<script src="../js/lib/p5.min.js"></script>
<script src="../js/src/utils.js"></script>
<script src="../js/src/filters.js"></script>
</body>
</html>