<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Histograma</title>
    <link rel="shortcut icon" href="../assets/favicon.png"/>
</head>

<body>
<div id="nav-placeholder"></div>
<main>
    <div>
        <div>
            <div>
                <div style="height: 400px;">
                    <div>
                        <h5>Imagem Original</h5>
                        <div id="original-img"></div>
                        <div role="group" aria-label="Ações" style="width: 256px;">
                            <select aria-label="Selecionar imagem" id="img-selector">
                                <option selected value="0">Lena</option>
                                <option value="1">Cameraman</option>
                                <option value="2">Airplane</option>
                                <option value="3">Barbara</option>
                                <option value="4">Sea</option>
                                <option value="5">Lena Low</option>
                                <option value="6">Lena High</option>
                            </select>
                            <button type="button" id="equalize-btn">
                                Equalizar
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <div style="height: 600px;">
                    <div>
                        <h5>Histogramas</h5>
                        <button type="button" id="show-original-hist">
                            Original
                        </button>
                        <div id="original-hist" style="margin: 10px 0 10px;"></div>
                        <button type="button" id="show-processed-hist">
                            Equalizado
                        </button>
                        <div id="processed-hist" style="margin: 10px 0 10px;"></div>
                    </div>
                </div>
            </div>
            <div>
                <div style="height: 400px;">
                    <div>
                        <h5>Imagem Processada</h5>
                        <div id="processed-img"></div>
                        <button type="button" id="download-btn" style="width: 256px;">
                            Baixar
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

<script>
    fetch('navbar.html')
        .then(function (response) {
            return response.text();
        })
        .then(function (body) {
            document.getElementById('nav-placeholder').innerHTML = body;
            document.getElementById('histogram-li').classList.add('active');
        });
</script>
<script src="../js/lib/p5.min.js"></script>
<script src="../js/src/utils.js"></script>
<script src="../js/src/histogram.js"></script>
</body>
</html>