<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container"><a class="navbar-brand" href="../index.html">Projeto CG</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span
                class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="filters.html" id="filter-li">Filtros</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="composition.html" id="composition-li">Combinação</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="transformations.html" id="transformations-li">Transformações</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="histogram.html" id="histogram-li">Histograma</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="morphology.html" id="morphology-li">Morfologia</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="warp.html" id="warp-li">Morfismo</a>
                </li>

            </ul>
        </div>
    </div>
</nav>
<br>